.distancia {
    margin: 50px 100px;
    width: 400px;
    border: 1px solid black;
    text-align: center;
    padding: 20px;

}

.distancia input {
    width: 80%;
    height: 40px;
}

.resultado {
    margin-left: 35px;
    text-align: left;
    
}
.distancia input[type=range]::-moz-range-thumb {
  box-shadow: 3px 3px 3px #00AA00;
  border: 2px solid #83E584;
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: #439643;
  cursor: pointer;
}