
/*

*/
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

section {
    width: 100%;
    border: 2px solid #000000;
    display: flex;
}

section article {
    width: 300px;
    border: 1px solid #5d5d5d;
    border-radius: 10px;
    margin: 20px;
}

section article img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;

}

section article p {
    text-align: justify;
    margin: 20px 30px;
}