.background{
    width: 50em;
    
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 300px;
    margin: 50px auto;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 6px;
    
}

.arealogin {
    justify: center;
    position: absolute;
    background-color: rgb(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    
}
